@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mona-sans';
  src: url('./src/assets/fonts/MonaSans-Black.woff2') format('woff2'),
       url('./src/assets/fonts/MonaSans-Bold.woff2') format('woff2');
       src:local('Mona Sans');
  font-weight: normal;
  font-style: normal;
}




body {
  margin: 0;
  padding: 0;
}

