@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mona-sans';
  src: url('./src/assets/fonts/MonaSans-Black.woff2') format('woff2'),
       url('./src/assets/fonts/MonaSans-Bold.woff2') format('woff2');
       src:local('Mona Sans');
  font-weight: normal;
  font-style: normal;
}




body {
  margin: 0;
  padding: 0;
}

